.homeDiv{
    display: flex;
    flex-direction: column;
  justify-content: center;
padding-bottom: 5rem;
  gap: 1rem;
 

}

.homeTitle{
    align-self: center;
    font-size: 120px;
    font-family: Cairo Play ;
 

}
.homeTitleBer{
    align-self: center;
        font-size: 50px;
        font-family: Cairo ;
        
}

.homeLearnMore{
    padding-top: 1rem;
    align-self: center;

}
.learnMoreButton{
    color:#71C080 !important;
    font-size: 20px !important;
    font-family: Cairo !important;
}

.adoptHomeButton {
    color: black !important;
    background-color: rgba(255, 217, 0, 0.827) !important;
    font-size: 18px !important;
}



.homeTextTitle{
    padding-bottom: 100px !important;
}
.homeMyTrees{
    padding-top: 3rem;
        align-self: center;
}

.treeLogo{
    font-size: 4rem;
    color:#71C080;
}


.modalHeadingDiv{
background-color: #71C080;
justify-content: center;
}
.modalFooterDiv {
    background-color: #71C080;
    padding: 0%;
}

.modalText{
    font-family: Cairo;
    font-size: 25px;
}

.noDecor{
    text-decoration: none !important;
}
.aboutText{
    font-family: Cairo;
 font-size: 25px;
    width: 70%;

}
.aboutTextHead {
    font-family: Cairo;
    font-size: 35px;
    text-decoration: underline;
}
.aboutTextDiv {
 display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
gap: 2rem;


}


@media screen and (max-width: 800px) {
.homeTitle {
        font-size: 40px;
    }

    .homeTitleBer {    
        font-size: 35px;

    }


}
