
.navbarDiv{
padding: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 1rem;

}

.navbarLogo{
    cursor: pointer;
}

.navbarList{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
   
}

.navbarLink {
  font-weight: bold;
  text-decoration: none;
  color: black;

}

.active {
    color: #71C080;
align-self: flex-start;

}