.profilePic{
    border-radius: 8rem;
    height: 14rem;
    width: 14rem;
}
.profileInfoDiv{
    padding-top: 2.5rem;
    padding-left: 4rem;
}

.profileNameTitle{
    font-size: 30px;
    font-family: Cairo Play;
}

.editProfileButton {
    color: #71C080 !important;
    cursor: pointer;
}

.boldText{
    font-weight: bold;
 
}

.underlinedText {

    text-decoration: underline;
}
.editProfileLogo{
    font-size: 20px;

}

.deleteProfileButton{
    color: #71C080 !important;
        cursor: pointer;
        font-size: 3rem;
}


.uploadUsePic{
background-color: white !important;
width: 60%;

}

.adoptButtonDiv{
    padding: 10%;
    display: flex;
    justify-content: center;
    padding-bottom: 6rem !important;
    padding-top: 0% !important;

}

.adoptButton{color: white !important;
font-weight: bold; font-size: 35px !important;
background-color: #71C080 !important;


}
.aProfile{
    font-size: 50px;
    padding-bottom: 8px;
}
.communityDiv{
    padding: 10%;
        display: flex;
        justify-content: center;
}

.communityText{
    
    font-size: 30px;
        font-family: Cairo ;
}

.userSearchInputDiv{
padding-top: 10px;
} 

/* USERS PROFILES */
.profilesDiv{
    padding-left: 2rem;
    padding-top: 5rem;
}

.usersTreesTitle{
    font-size: 20px;
    font-family: Cairo;
}

.usersEmailLink{text-decoration: none; color: #71C080;}
.usersEmailLink:hover {
  
    color:black;
}

.userInfoDiv{
    display: flex;
    flex-direction: row;
    gap: 5rem;
 
}


@media screen and (max-width: 700px) {

.communityText {
        font-size: 10px;
        font-family: Cairo;
    }
        .userSearchInputDiv {
            padding-top: 0px;
        }


                .userInfoDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
        
                }

}