.searchBarDiv{
  margin: 0%;
    display: flex;
    justify-content: center;
   
}
.searchBarInput {
width:60vh;
border: none;
background-color: white;
text-decoration: white;
height: 4rem;
font-size: 20px;
border: solid #71C080;
border-radius: 1rem;

    
}
.treesDiv{
    padding-bottom: 8rem;
}

.searchBarLabel{
background-color: #71C080;
color: #71C080 !important;
padding-top: 20px;

}

.searchBarInput::placeholder {color: black;}


.searchBarInput:focus {
border-color: black;

}

.cardsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
   
}
.cardDiv {
   width: 35rem;
    border: none ;
    
}
.cardsTreeName{
    font-size: 28px;
}

.cardImg {
    height: 32rem;
    border-radius: 1rem;
   
}
.cardTitleText{
    display: flex;
    justify-content: space-between;
}

.firstComment{
    font-size: 14px;
}
.seeMoreComments{
    font-size: 10px;
}
.parentLogo{
    font-size: 12px;
}

.likesDiv{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-bottom: 5px;
}
/* .accordion-button.collapsed::after {
background-image: url(file:///Users/albertocarrillo/Downloads/more_horiz_FILL0_wght400_GRAD0_opsz48.svg);
  
}

.accordion-button:not(.collapsed)::after {
background-image: url(file:///Users/albertocarrillo/Downloads/remove_FILL0_wght400_GRAD0_opsz48.svg);

} */

.accordion-header:focus{text-decoration: none;
    box-shadow: none;

}


.likesCount{
    font-size: 20px;
}

.liked{
    cursor: pointer;
    font-variation-settings:
            'FILL' 1 !important;font-size: 40px;
            
}

.unliked{cursor: pointer;font-variation-settings:
        'FILL' 0 !important;
        font-size: 40px;}
        

        .commentAddLogo{
            font-size: 40px;
            cursor: pointer;
        }

                .commentDiv {
                   display: flex;
                   justify-content: stretch;
                   align-items: stretch;
                  
                }
                .inputComment{
                    width: 100vh;
                    height: 4rem;
                    border-radius: 0.5rem;
                }

.loadingDiv{
    display: flex;
    justify-content: center;
}
.loadingTree{
    font-size: 30px;
}

.deleteTreeButton {
    color: black !important;
    cursor: pointer;
    font-size: 2rem;
}

.deleteTreeButtonDiv{display: flex; justify-content: flex-end;}

.individualComment:nth-child(2n){
    margin-left: 5px !important;
    font-weight: bold;
    padding-bottom: 15px;

}

.accordion-button:focus {
    color: black;
    border: none !important;

    box-shadow: none !important;
}
.accordion-button{
background-color: white !important;
color: black;
    border: none !important;

}
.accordion-button:hover {
    background-color: white !important;
    color: black;
    border: none !important;
}
.description{
font-size: 20px;
}


@media screen and (max-width: 700px) { 
.cardsDiv {
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding-bottom: 1rem;
    }

.cardDiv {
    width: 25rem;
}
.cardImg {
    height: 26rem;
    border-radius: 1rem;

}

}